<template>
  <section class="planner-carousel flex items-center h-[550px]">
    <carousel :images="images" class="w-full mx-auto h-full" />
  </section>
  <section class="planner-describe">
    <describe-card
      :item="{
        title: 'Apply for New Visa Online',
        description: 'Lorem ipsum is simply free dolo sit amet, ctetur.',
        number: '01'
      }"
    ></describe-card>
  </section>
</template>

<script lang="ts">
import DescribeCard from '../../ui/Cards/DescribeCard.vue'
import Carousel from '../../components/carousel/Carousel.vue'

export default {
  components: {
    Carousel,
    DescribeCard
  },
  data() {
    return {
      images: [
        'https://images.pexels.com/photos/8321306/pexels-photo-8321306.jpeg',
        'https://images.pexels.com/photos/13713032/pexels-photo-13713032.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1',
        'https://images.pexels.com/photos/14339726/pexels-photo-14339726.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'
      ]
    }
  }
}
</script>

<style
  lang="
Carouselscss"
  scoped
></style>
