<template>
  <div class="h-full">
    <ul class="planner-menu w-fit box-content h-full items-center" :style="style" :class="classes">
      <MenuItem
        :color="color"
        :color-hover="colorHover"
        :color-bar-active="colorBarActive"
        :item="item"
        v-for="(item, index) in menu?.items"
        :key="index"
        class="h-full"
      />
    </ul>
  </div>
</template>

<script lang="ts" setup>
// @ts-ignore
import { PropType, computed } from 'vue'
import { IMenu } from '../../infra/types/menu.interface'
import Typography from '../Typography/Typography.vue'
import MenuItem from './MenuItem.vue'

const props = withDefaults(
  defineProps<{
    /**
     * menu to display
     */
    menu?: IMenu
    /**
     * background of menu
     */
    background?: string
    /**
     * color of item
     */
    color?: string
    /**
     * color hover
     */
    colorHover?: string

    /**
     * color bar active
     */
    colorBarActive?: string
  }>(),
  {
    menu: {
      items: [
        { label: 'Home', active: true },
        {
          label: 'Pages',
          active: false,
          nodes: [
            { label: 'Page1', active: false, nodes: [{ label: 'Page1-1', active: false }] },
            {
              label: 'Page2',
              active: false,
              nodes: [
                { label: 'Page2-1', active: false },
                { label: 'Page2-2', active: false }
              ]
            }
          ]
        },
        { label: 'Coaching', active: false },
        { label: 'Visa', active: false },
        { label: 'Shop', active: false },
        { label: 'News', active: false },
        { label: 'Contact', active: false }
      ],
      direction: 'HORIZONTAL',
      divided: false
    },
    background: '#1D2F41',
    color: '#AAB3BB',
    colorHover: '#ffffff',
    colorBarActive: '#ff494a'
  }
)
const classes = computed(() => ({
  'planner-menu-vertical': props.menu?.direction === 'VERTICAL',
  'planner-menu-horizontal': props.menu?.direction === 'HORIZONTAL'
}))

const style = computed(() => ({
  'background-color': props.background
}))
</script>

<style lang="scss" scoped>
.planner-menu {
  display: flex;
  padding: 0px 10px;
}
.planner-menu-vertical {
  flex-direction: column;
}
.planner-menu-horizontal {
  flex-direction: row;
  gap: 40px;
}
</style>
