<template>
  <div
    class="relative cursor-pointer pt-3 pb-2"
    @mouseover="hover = true"
    @mouseleave="hover = false"
  >
    <div class="relative">
      <div class="planner-menu-item--label">
        <Typography
          :color="item?.active ? colorHover : color"
          :color-hover="colorHover"
          :label="item?.label"
        />
      </div>
      <div class="absolute bottom-1" :class="classes" :style="style"></div>
    </div>
    <div
      v-if="item?.nodes && item?.nodes.length > 0 && hover"
      class="relative box-border"
      style="z-index: 999"
    >
      <div class="planner-submenu-main">
        <div
          v-for="(node, index) in item.nodes"
          :key="index"
          class="px-4 py-2 box-content"
          :class="[index < item.nodes.length - 1 ? 'planner-submenu--divider' : '']"
        >
          <TreeMenu :node="node"></TreeMenu>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { computed, ref } from 'vue'
import { IMenuItem } from '../../infra/types/menu.interface'
import Typography from '../Typography/Typography.vue'
import TreeMenu from './TreeMenu.vue'
const props = withDefaults(
  defineProps<{
    /**
     * color of text
     */
    color?: string
    /**
     * color when hover
     */
    colorHover?: string

    /**
     * label of menu
     */
    item?: IMenuItem

    /**
     * active bar color
     */
    colorBarActive?: string
  }>(),
  {}
)
const hover = ref<boolean>(false)

const classes = computed(() => ({
  'planner-menu-item-active': hover.value || props.item?.active,
  'planner-menu-item': !hover.value && !props.item?.active
}))
const style = computed(() => ({
  border: hover.value || props.item?.active ? `1px solid ${props.colorBarActive}` : 'none'
}))
</script>

<style lang="scss" scoped>
.planner-menu-item--label {
  padding-bottom: 10px;
}
.planner-menu-item-active {
  // border: 1px solid red;
  width: 100%;
  height: 2px;
  margin: auto;
  left: 0;
  right: 0;
  animation-name: growing-in;
  animation-duration: 0.5s;
}
.planner-menu-item {
  //   border: 1px solid red;
  width: 0%;
  height: 2px;
  margin: auto;
  left: 0;
  right: 0;
  animation-name: growing-out;
  animation-duration: 0.5s;
}
.planner-submenu-main {
  width: 200px;
  top: 13px;
  position: absolute;
  background-color: white;
  border: 1px solid #eee;
  animation-name: submenu-main-in;
  animation-duration: 0.5s;
}
.planner-submenu--divider {
  border-bottom: 1px solid #eee;
}
@keyframes growing-in {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
@keyframes growing-out {
  from {
    width: 100%;
    border: 1px solid;
  }
  to {
    width: 0%;
    border: 1px solid transparent;
  }
}

@keyframes submenu-main-in {
  from {
    top: 25px;
  }
  to {
    top: 13px;
  }
}
</style>
