<template>
  <div
    class="tree-menu relative w-full box-content px-3"
    @mouseover="hover = true"
    @mouseleave="hover = false"
    v-if="node && node.label"
  >
    <div class="w-full">
      <Typography :color="color" :color-hover="colorHover" :label="node?.label" />
    </div>
    <div
      v-if="hover && node && node.nodes && node.nodes?.length > 0"
      class="planner-tree-menu py-2 bg-white"
    >
      <div
        class="px-4 py-2 box-border bg-white"
        :class="[node.nodes && index < node?.nodes?.length - 1 ? 'planner-submenu--divider' : '']"
        v-for="(item, index) in node?.nodes"
        :key="index"
      >
        <TreeMenu :node="item" :label="item.label"></TreeMenu>
      </div>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { computed, ref } from 'vue'
import { IMenuItem } from '../../infra/types/menu.interface'
import Typography from '../Typography/Typography.vue'

const props = defineProps<{
  /**
   * node of item
   */
  node?: IMenuItem
  /**
   * color
   */
  color?: string
  /**
   * color active
   */
  colorHover?: string
}>()
const hover = ref(false)

const style = computed(() => ({
  color: hover.value ? ` ${props.colorHover}` : `${props.color}`
}))
</script>

<style lang="scss" scoped>
.planner-tree-menu {
  // margin-left: 20px;
  position: absolute;
  left: 183px;
  top: -8px;
  width: 150px;
  border: 1px solid #eee;
  animation-name: submenu-main-in;
  animation-duration: 0.5s;
}
.planner-submenu--divider {
  border-bottom: 1px solid #eee;
}
.planner-active-submenu {
}

@keyframes submenu-main-in {
  from {
    top: 12px;
  }
  to {
    top: -8px;
  }
}
</style>
