<template>
  <div class="planner-button-slide--wrapper relative w-fit">
    <div class="relative w-full planner-button-slide--content" :class="classes">
      <button type="button" class="bg-transparent w-fit uppercase relative z-50">
        <span class="">{{ label }}</span>
      </button>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { computed } from 'vue'
import { ref } from 'vue'

const props = withDefaults(
  defineProps<{
    /**
     * The label of the button
     */
    label: string
    /**
     * size of the button
     */
    size?: 'small' | 'medium' | 'large'
    /**
     * primary or secondary button
     */
    primary?: boolean
  }>(),
  { primary: true }
)

const classes = computed(() => ({
  'planner-button-slide': true,
  'planner-button-slide--primary': props.primary,
  'planner-button-slide--secondary': !props.primary,
  [`planner-button-slide--${props.size || 'medium'}`]: true,
  [`planner-button-slide--content__${props.primary ? 'primary' : 'secondary'}`]: true
}))
</script>

<style lang="scss" scoped>
@import '../../infra/styles/colors.scss';

.planner-button-slide--content:hover:before {
  content: '-';
  position: absolute;
  top: 0;
  color: transparent;
  animation-name: move-to-right-in;
  animation-duration: 0.5s;
  left: 0;
  right: 0;
  width: 100%;
  height: 50%;
  z-index: 9;
}
.planner-button-slide--content:before {
  content: '-';
  position: absolute;
  top: 0;
  color: transparent;
  animation-name: move-to-right-out;
  animation-duration: 0.5s;
  left: 0;
  right: 0;
  width: 0%;
  height: 50%;
  z-index: 9;
}

.planner-button-slide--content:hover:after {
  content: '-';
  position: absolute;
  bottom: 0;
  color: transparent;
  animation-name: move-to-left-in;
  animation-duration: 0.5s;
  right: 0;
  width: 100%;
  height: 50%;
  z-index: 9;
}
.planner-button-slide--content:after {
  content: '-';
  position: absolute;
  bottom: 0;
  color: transparent;
  animation-name: move-to-left-out;
  animation-duration: 0.5s;
  right: 0;
  width: 0%;
  height: 50%;
  z-index: 9;
}

.planner-button-slide--content__primary:hover:before {
  @include invert-background-color('primary');
}
.planner-button-slide--content__primary:before {
  @include invert-background-color('primary');
}
.planner-button-slide--content__primary:hover:after {
  @include invert-background-color('primary');
}
.planner-button-slide--content__primary:after {
  @include invert-background-color('primary');
}

.planner-button-slide--content__secondary:hover:after {
  @include invert-background-color('secondary');
}
.planner-button-slide--content__secondary:after {
  @include invert-background-color('secondary');
}
.planner-button-slide--content__secondary:hover:before {
  @include invert-background-color('secondary');
}
.planner-button-slide--content__secondary:before {
  @include invert-background-color('secondary');
}

.planner-button-slide {
  font-weight: 300;
  border: 0;
  cursor: pointer;
  line-height: 1;
  text-transform: uppercase;
}
.planner-button-slide--primary {
  color: white;
  background-color: $primary;
}
.planner-button-slide--secondary {
  color: white;
  background-color: $secondary;
}
.planner-button-slide--small {
  font-size: 12px;
  padding: 10px 16px;
}
.planner-button-slide--medium {
  font-size: 20px;
  padding: 13px 25px;
}
.planner-button-slide--large {
  font-size: 16px;
  padding: 25px 40px;
}

@keyframes move-to-right-in {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
@keyframes move-to-right-out {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

@keyframes move-to-left-in {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
@keyframes move-to-left-out {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}
</style>
