<template>
  <button
    class="planner-button-more rounded-xl flex flex-row justify-between items-center px-5 py-2 w-full"
    :style="styleBackground"
    @mouseover="hover = true"
    @mouseleave="hover = false"
  >
    <span>Read More</span>
    <span>
      <slot name="icon">
        <svg
          class="svg-icon"
          style="
            width: 1em;
            height: 1em;
            vertical-align: middle;
            fill: currentColor;
            overflow: hidden;
          "
          viewBox="0 0 1024 1024"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M981.333333 512c0-4.266667 0-12.8-4.266666-17.066667-4.266667-21.333333-12.8-38.4-29.866667-51.2l-243.2-217.6c-17.066667-17.066667-42.666667-12.8-55.466667 4.266667-17.066667 17.066667-12.8 42.666667 4.266667 55.466667l204.8 183.466666H85.333333c-21.333333 0-42.666667 17.066667-42.666666 42.666667s17.066667 42.666667 42.666666 42.666667h772.266667l-204.8 183.466666c-17.066667 17.066667-17.066667 42.666667-4.266667 55.466667 8.533333 8.533333 17.066667 12.8 29.866667 12.8 8.533333 0 21.333333-4.266667 25.6-8.533333l243.2-217.6c17.066667-12.8 25.6-34.133333 29.866667-51.2 4.266667-4.266667 4.266667-12.8 4.266666-17.066667z"
          />
        </svg>
      </slot>
    </span>
  </button>
</template>

<script lang="ts" setup>
import { computed, ref } from 'vue'

const hover = ref<boolean>(false)
const styleBackground = computed(() => ({
  'background-color': hover.value ? '#1d2f41' : '#ecf0f4',
  color: hover.value ? 'white' : '#626F7C'
}))
</script>

<style lang="scss" scoped>
.planner-button-more {
}
</style>
