<template>
  <button :class="classes" :style="styles" @mouseover="hover = true" @mouseleave="hover = false">
    <slot name="icon">
      <svg
        class="svg-icon"
        style="
          width: 1em;
          height: 1em;
          vertical-align: middle;
          fill: currentColor;
          overflow: hidden;
        "
        viewBox="0 0 1024 1024"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M430 735.2c-168 0-308-140-308-308s140-308 308-308 308 140 308 308-140 308-308 308zM721.2 640C766 578.4 794 505.6 794 427.2c0-201.6-162.4-364-364-364S66 225.6 66 427.2s162.4 364 364 364c78.4 0 151.2-28 212.8-67.2l218.4 218.4c22.4 22.4 56 22.4 78.4 0 22.4-22.4 22.4-56 0-78.4L721.2 640z"
        />
      </svg>
    </slot>
  </button>
</template>

<script lang="ts" setup>
import { computed, ref } from 'vue'

const props = withDefaults(
  defineProps<{
    /**
     * size of the icon
     */
    size?: 'small' | 'medium' | 'large'
    /**
     * color of icon
     */
    color?: string
    /**
     * is there border
     */
    outlined?: boolean
    /**
     * background of icon
     */
    background?: string
    /**
     * color when hover icon button
     */
    colorHover?: string
  }>(),
  { color: '#000', colorHover: 'red' }
)
const hover = ref<boolean>(false)

const classes = computed(() => ({
  [`planner-icon-button--${props.size || 'medium'}`]: true,
  'planner-icon-button-outlined': props.outlined
}))
const styles = computed(() => ({
  'border-color': props.outlined ? (hover.value === true ? props.colorHover : props.color) : 'none',
  color: hover.value === true ? props.colorHover : props.color
}))
</script>

<style lang="scss" scoped>
.planner-icon-button--small {
  font-size: 15px;
  padding: 0px;
}
.planner-icon-button--medium {
  font-size: 25px;
  padding: 8px;
}
.planner-icon-button--large {
  font-size: 35px;
  padding: 10px;
}

.planner-icon-button-outlined {
  border: 1px solid;
  border-radius: 5px;
}
</style>
