<template>
  <span class="" @mouseover="hover = true" @mouseleave="hover = false" :style="style">{{
    label
  }}</span>
</template>

<script lang="ts" setup>
import { computed, ref } from 'vue'

const props = withDefaults(
  defineProps<{
    /**
     * color of text
     */
    color?: string
    /**
     * color when hover
     */
    colorHover?: string
    /**
     * Text of typography
     */
    label?: string
  }>(),
  { color: '#000', colorHover: 'red' }
)
const hover = ref<boolean>(false)

const classes = computed(() => ({}))
const style = computed(() => ({
  color: hover.value === true ? props.colorHover : props.color
}))
</script>

<style lang="scss" scoped></style>
