<template>
  <div
    class="planner-describe-card flex flex-row bg-white px-2 py-4 rounded-sm w-fit space-x-3"
    @mouseover="hover = true"
    @mouseleave="hover = false"
  >
    <div
      class="planner-describe-card--left flex flex-col items-center justify-between px-5 py-5 space-y-3"
      :style="styles"
    >
      <div>
        <span class="text-4xl text-gray-400 font-bold">{{ item?.number }}</span>
      </div>
      <div class="text-5xl planner-describe-card--icon" :style="iconStyle">
        <slot name="icon">
          <svg
            class="svg-icon"
            style="
              width: 1em;
              height: 1em;
              vertical-align: middle;
              fill: currentColor;
              overflow: hidden;
            "
            viewBox="0 0 1024 1024"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M528 1024C307.44 1024 128 844.56 128 624c0-72.32 19.6-143.232 56.672-205.024a16 16 0 1 1 27.44 16.48A366.56 366.56 0 0 0 160 623.984c0 202.912 165.088 368 368 368s368-165.088 368-368c0-112.048-50.192-216.64-137.696-286.88A368.336 368.336 0 0 0 528 256c-44.544 0-88.24 8-129.856 23.76-10.048 3.776-21.76-4.192-21.76-14.96 0-7.328 4.88-13.504 11.584-15.408A397.2 397.2 0 0 1 528 224a400.4 400.4 0 0 1 250.352 88.176C873.456 388.528 928 502.192 928 624c0 220.56-179.44 400-400 400z"
            />
            <path d="M528 1024a16 16 0 0 1-16-16V240a16 16 0 0 1 32 0v768a16 16 0 0 1-16 16z" />
            <path
              d="M912 640H144a16 16 0 0 1 0-32h768a16 16 0 0 1 0 32zM528 400c-40.352 0-80.72-4.656-119.968-13.856a483.968 483.968 0 0 1-61.248-18.16 16 16 0 1 1 11.072-30.032c19.072 7.024 38.352 12.736 57.328 17.008a496.432 496.432 0 0 0 225.488 0.032 504.864 504.864 0 0 0 119.232-44 15.952 15.952 0 0 1 24.576 13.488c0 4.32-1.712 8.208-4.48 11.104a16 16 0 0 1-4.272 3.248 537.52 537.52 0 0 1-127.808 47.328c-39.2 9.168-79.568 13.84-119.92 13.84zM768.464 939.52a15.904 15.904 0 0 1-7.408-1.824C688.992 899.952 608.384 880 528 880s-160.992 19.952-233.056 57.696a16 16 0 1 1-14.848-28.352C356.736 869.216 442.464 848 528 848s171.264 21.216 247.904 61.344a16 16 0 0 1-7.44 30.176z"
            />
            <path
              d="M528 1024a16 16 0 0 1-10.224-28.32C637.888 896.128 704 764.128 704 624s-66.128-272.128-186.208-371.68a16 16 0 1 1 20.416-24.64C665.76 333.44 736 474.176 736 624s-70.24 290.56-197.792 396.32A15.952 15.952 0 0 1 528 1024z"
            />
            <path
              d="M528 1024a15.92 15.92 0 0 1-10.208-3.68C390.24 914.56 320 773.824 320 624s70.24-290.56 197.792-396.32a16 16 0 1 1 20.416 24.64C418.128 351.872 352 483.872 352 624s66.128 272.128 186.208 371.68A16 16 0 0 1 528 1024zM256 544c-5.6 0-10.768-2.928-13.68-7.696C235.696 525.376 80 267.792 80 176 80 78.96 158.96 0 256 0s176 78.96 176 176c0 91.792-155.696 349.376-162.32 360.304A16.016 16.016 0 0 1 256 544z m0-512c-79.392 0-144 64.608-144 144 0 62.496 93.92 235.408 144 320.752 50.08-85.344 144-258.256 144-320.752 0-79.392-64.608-144-144-144z"
            />
            <path
              d="M256 272c-52.944 0-96-43.056-96-96s43.056-96 96-96 96 43.056 96 96-43.056 96-96 96z m0-160c-35.296 0-64 28.704-64 64s28.704 64 64 64 64-28.704 64-64-28.704-64-64-64z"
            />
          </svg>
        </slot>
      </div>
    </div>
    <div class="planner-describe-card--right space-y-3">
      <div class="planner-describe-card--right__title">
        <span>{{ item?.title }}</span>
      </div>
      <div class="planner-describe-card--right__describe">
        <p>{{ item?.description }}</p>
      </div>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { computed, ref } from 'vue'

// export default {
//   props: ['item']
// }
const hover = ref<boolean>(false)
const props = withDefaults(
  defineProps<{
    /**item of describe */
    item: any
  }>(),
  {
    item: {
      number: '01',
      title: 'Apply for New Visa Online',
      description: 'Lorem ipsum is simply free dolo sit amet, ctetur.'
    }
  }
)
const styles = computed(() => ({
  'background-color': hover.value ? '#FF494A' : '#ecf0f4',
  transition: 'all .5s ease-out'
}))
const iconStyle = computed(() => ({
  color: hover.value ? 'white' : '#FF494A'
}))
</script>

<style lang="scss" scoped>
@import '../../infra/styles/colors.scss';
.planner-describe-card {
  max-width: 270px;
}
.planner-describe-card--right__title span {
  color: $textcolor;
  font-size: 20px;
  font-weight: bold;
}

.planner-describe-card--right__describe p {
  color: $textcolor;
  font-size: 17px;
  font-weight: 400;
  line-height: 30px;
}
</style>
