<template>
  <div
    class="planner-service-card relative space-y-3"
    @mouseover="hover = true"
    @mouseleave="hover = false"
  >
    <div class="planner-service-card--img relative cursor-pointer" :class="animationClasses">
      <img class="" :src="image" alt="image" :title="title" :style="animationImg" />

      <div class="planner-service-card--icon absolute bg-white px-4 py-4 z-50">
        <div class="planner-service-card--icon__bg rounded-full">
          <slot name="icon">
            <svg
              class="svg-icon"
              style="
                width: 1em;
                height: 1em;
                vertical-align: middle;
                fill: currentColor;
                overflow: hidden;
              "
              viewBox="0 0 1024 1024"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M512 128L42.666667 384l469.333333 256 384-209.493333V725.333333h85.333333V384M213.333333 562.346667v170.666666L512 896l298.666667-162.986667v-170.666666L512 725.333333l-298.666667-162.986666z"
                fill=""
              />
            </svg>
          </slot>
        </div>
      </div>
    </div>

    <div class="planner-service-card--describe space-y-3 w-full py-5 px-5">
      <div class="planner-service-card--describe__title w-full flex justify-center items-center">
        <Typography color="#1d2f41" color-hover="#ff494a" label="Student Visa" />
      </div>
      <div class="planner-service-card--describe__content text-gray-100">
        {{ description }}
      </div>
      <div class="planner-service-card--describe__button pt-3">
        <ButtonMore></ButtonMore>
      </div>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { computed, ref } from 'vue'
import ButtonMore from '../Buttons/ButtonMore.vue'
import Typography from '../Typography/Typography.vue'

const props = withDefaults(
  defineProps<{
    title: string
    description: string
    image: string
  }>(),
  {
    title: 'Student Visa',
    description:
      'Fusce pretium sem ism the eget mattis. Nam hendrerit elit vel urna fermentum congue.',
    image: 'https://vizox.codelayers.net/images/resource/service-2.jpg'
  }
)
const hover = ref<boolean>(false)

const animationClasses = computed(() => ({
  'planner-service-card--img__before--in': hover.value,
  'planner-service-card--img__after--in': hover.value,
  'planner-service-card--img__before--out': !hover.value,
  'planner-service-card--img__after--out': !hover.value
}))
const animationImg = computed(() => ({
  transform: hover.value ? 'scale(1.1)' : 'scale(1)',
  transition: 'transform 1s ease-in'
}))
</script>

<style lang="scss" scoped>
@import '../../infra/styles/colors.scss';
.planner-service-card {
  max-width: 300px;
  overflow: hidden;
}
.planner-service-card--describe__title {
  font-size: 1.5em;
}
.planner-service-card--icon {
  right: 0;
  font-size: 1.8em;
  color: white;
  bottom: -45px;
}
.planner-service-card--icon__bg {
  background-color: $secondary;
  padding: 15px;
}

.planner-service-card--img__before--in:before {
  left: 0;
  animation: 0.5s move-in;
  width: 0%;
}
.planner-service-card--img__after--in:after {
  right: 0;
  animation: 0.5s move-in;
  width: 0%;
}

.planner-service-card--img__before--out:before {
  animation: 0.5s move-out;
  width: 50%;
}
.planner-service-card--img__after--out:after {
  animation: 0.5s move-out;
  width: 50%;
}

.planner-service-card--img:before,
.planner-service-card--img:after {
  content: '';
  position: absolute;
  z-index: 9;
  top: 0;
  height: 100%;
  background-color: black;
  opacity: 0.06;
}

.planner-service-card--img:after {
  right: 0;
}

@keyframes move-in {
  from {
    width: 50%;
  }
  to {
    width: 0%;
  }
}

@keyframes move-out {
  from {
    width: 0%;
  }
  to {
    width: 50%;
  }
}
</style>
