<template>
  <div class="flex flex-row w-full box-border p-0 m-0">
    <div class="flex flex-row items-center justify-center px-10">
      <img src="../../../public/logo.png" alt="logo" />
    </div>
    <div class="grow bg-[#1D2F41] px-8 box-content items-center pt-1.5">
      <div class="flex flex-row items-center justify-between h-full">
        <MainMenu
          background="#1D2F41"
          color="#AAB3BB"
          color-hover="#ffffff"
          color-bar-active="#ff494a"
          class=""
        />
        <IconButton color="#fff" color-hover="#ff494a" size="medium">
          <template #icon>
            <svg
              class="svg-icon"
              style="
                width: 1em;
                height: 1em;
                vertical-align: middle;
                fill: currentColor;
                overflow: hidden;
              "
              viewBox="0 0 1024 1024"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M430 735.2c-168 0-308-140-308-308s140-308 308-308 308 140 308 308-140 308-308 308zM721.2 640C766 578.4 794 505.6 794 427.2c0-201.6-162.4-364-364-364S66 225.6 66 427.2s162.4 364 364 364c78.4 0 151.2-28 212.8-67.2l218.4 218.4c22.4 22.4 56 22.4 78.4 0 22.4-22.4 22.4-56 0-78.4L721.2 640z"
              />
            </svg>
          </template>
        </IconButton>
      </div>
    </div>
    <div class="">
      <ButtonSlide :primary="true" label="Nos services" size="large" />
    </div>
  </div>
</template>

<script lang="ts">
import ButtonSlide from '@/ui/Buttons/ButtonSlide.vue'
import MainMenu from '@/ui/Menu/MainMenu.vue'
import IconButton from '@/ui/Buttons/IconButton.vue'
export default {
  components: {
    ButtonSlide,
    MainMenu,
    IconButton
  }
}
</script>

<style lang="scss" scoped>
* {
  box-sizing: border-box;
}
</style>
