<template>
  <div class="planner-mainbar">
    <div class="planner-topbar">
      <TopBar />
    </div>
    <div class="planner-bottombar">
      <BottomBar />
    </div>
  </div>
</template>

<script>
import BottomBar from './BottomBar.vue'
import TopBar from './TopBar.vue'

export default {
  components: { TopBar, BottomBar }
}
</script>

<style></style>
