<template>
  <div class="planner-topbar flex items-center justify-between py-2">
    <div class="planner-topbar--email flex justify-center items-center grow">
      <div class="flex flex-row items-center justify-center">
        <span class="flex item-center justify-center">
          <svg
            class="svg-icon"
            style="
              width: 1.35em;
              height: 1.3em;
              vertical-align: middle;
              fill: currentColor;
              overflow: hidden;
            "
            viewBox="0 0 1038 1024"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M212.155493 724.155493a14.422535 14.422535 0 0 1-9.374648-25.383662L413.061408 519.211268a14.422535 14.422535 0 0 1 18.749296 21.922253L221.530141 721.126761a14.422535 14.422535 0 0 1-9.374648 3.028732zM826.267042 724.155493a14.422535 14.422535 0 0 1-9.374648-3.461408L606.611831 541.566197a14.422535 14.422535 0 0 1 18.749296-22.354929l210.280563 179.560563a14.422535 14.422535 0 0 1-9.374648 25.383662zM519.211268 548.056338a83.218028 83.218028 0 0 1-58.988169-24.374084l-253.83662-239.414085 19.758873-21.056901 254.269296 239.990986a54.661408 54.661408 0 0 0 77.304789 0l254.413521-239.702536 19.758873 21.056902-254.12507 239.702535A82.496901 82.496901 0 0 1 519.211268 548.056338z"
              fill=""
            />
            <path
              d="M822.084507 749.971831H230.760563a57.690141 57.690141 0 0 1-57.69014-57.690141V317.295775a57.690141 57.690141 0 0 1 57.69014-57.690141h591.323944a57.690141 57.690141 0 0 1 57.690141 57.690141v374.985915a57.690141 57.690141 0 0 1-57.690141 57.690141zM230.760563 288.450704a28.84507 28.84507 0 0 0-28.84507 28.845071v374.985915a28.84507 28.84507 0 0 0 28.84507 28.845071h591.323944a28.84507 28.84507 0 0 0 28.84507-28.845071V317.295775a28.84507 28.84507 0 0 0-28.84507-28.845071z"
              fill=""
            />
          </svg>
        </span>
        <span class="line-clamp-1 text-xs text-gray-100">needhelp@company.com</span>
      </div>
    </div>
    <div class="planner-topbar--contact flex flex-row item-center justify-center px-5">
      <ul class="flex flex-row space-x-2 planner-topbar-contact__site px-5">
        <li class="text-xs cursor-pointer">
          <Typography color="#626F7C" color-hover="#1D2F41" label="Help" />
        </li>
        <li class="text-xs cursor-pointer">
          <Typography color="#626F7C" color-hover="#1D2F41" label="Support" />
        </li>
        <li class="text-xs cursor-pointer">
          <Typography color="#626F7C" color-hover="#1D2F41" label="Contact" />
        </li>
      </ul>
      <ul class="flex flex-row items-center justify-center space-x-2 px-3">
        <IconButton color="#626F7C" color-hover="#FF494A" size="small">
          <template #icon>
            <svg
              class="svg-icon"
              style="
                width: 1em;
                height: 1em;
                vertical-align: middle;
                fill: currentColor;
                overflow: hidden;
              "
              viewBox="0 0 1024 1024"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M928 254.3c-30.6 13.2-63.9 22.7-98.2 26.4 35.4-21.1 62.3-54.4 75-94-32.7 19.5-69.7 33.8-108.2 41.2C765.4 194.6 721.1 174 672 174c-94.5 0-170.5 76.6-170.5 170.6 0 13.2 1.6 26.4 4.2 39.1-141.5-7.4-267.7-75-351.6-178.5-14.8 25.4-23.2 54.4-23.2 86.1 0 59.2 30.1 111.4 76 142.1-28-1.1-54.4-9-77.1-21.7v2.1c0 82.9 58.6 151.6 136.7 167.4-14.3 3.7-29.6 5.8-44.9 5.8-11.1 0-21.6-1.1-32.2-2.6C211 652 273.9 701.1 348.8 702.7c-58.6 45.9-132 72.9-211.7 72.9-14.3 0-27.5-0.5-41.2-2.1C171.5 822 261.2 850 357.8 850 671.4 850 843 590.2 843 364.7c0-7.4 0-14.8-0.5-22.2 33.2-24.3 62.3-54.4 85.5-88.2z"
              />
            </svg>
          </template>
        </IconButton>
        <IconButton color="#626F7C" color-hover="#FF494A" size="small">
          <template #icon>
            <svg
              class="svg-icon"
              style="
                width: 1em;
                height: 1em;
                vertical-align: middle;
                fill: currentColor;
                overflow: hidden;
              "
              viewBox="0 0 1024 1024"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M530.110473 865.48373l109.783359 0 0 0.067538C621.25431 865.550245 577.021899 865.550245 530.110473 865.48373L530.110473 865.48373 530.110473 865.48373zM335.854211 161.582095c-15.820314 0.276293-31.776727 1.306762-46.085618 3.990894-15.548114 2.956332-29.717835 6.878664-43.88858 14.100136-14.375405 7.291057-26.755364 17.267269-37.832653 28.065196-10.797927 11.07422-20.770046 23.524786-28.063149 37.832653-7.153934 14.170744-11.144828 28.27088-14.103206 43.88551-2.680039 14.308891-3.714602 30.265304-3.990894 46.089711-0.067538 3.576455-0.067538 6.878664-0.137123 12.038174l-0.204661 309.542962c0 3.919263 0.067538 8.184403 0.067538 12.863982 0.137123 11.211343 0.207731 15.819291 0.275269 21.115923 0.276293 15.820314 1.310855 31.780821 3.990894 46.088688 1.306762 6.808056 2.750647 13.343913 4.607948 19.672038 2.408863 8.184403 5.434779 16.166191 9.495258 24.142863 7.29208 14.379499 17.265222 26.759457 28.063149 37.832653 11.07729 10.800997 23.527856 20.774139 37.832653 28.066219 14.170744 7.153934 28.27395 11.143805 43.88858 14.103206 14.308891 2.680039 30.265304 3.711532 46.085618 3.986801 5.296633 0.070608 9.904581 0.137123 21.118993 0.275269 10.660804 0.070608 19.396769 0.137123 25.862018 0.137123l147.204643 0L530.040888 592.328513l-88.526219 0 0-102.149495 87.908142 0 0-95.067192c0-72.982198 56.406684-125.261888 129.318274-125.261888l94.378507 2.066055 0 98.089016-72.088852 0c-20.840654 0-37.766139 23.044856-37.766139 43.956118l0 76.216869 106.349143 0-15.134699 102.217033-94.582145 0 0 273.086655 4.541433 0c6.465249 0 15.201214-0.070608 25.862018-0.137123 8.873088-0.070608 13.620206-0.137123 17.813714-0.137123 1.102101 0 2.204202 0 3.372817-0.070608 15.820314-0.276293 31.780821-1.306762 46.088688-3.990894 15.544021-2.955308 29.714765-6.878664 43.88551-14.100136 14.375405-7.29208 26.755364-17.264199 37.832653-28.066219 10.79895-11.07422 20.774139-23.524786 28.066219-37.832653 7.153934-14.169721 11.140735-28.27088 14.100136-43.88551 2.683109-14.308891 3.714602-30.265304 3.990894-46.089711 0.067538-5.296633 0.137123-9.904581 0.275269-21.115923 0.066515-10.660804 0.137123-19.396769 0.137123-25.862018L865.863377 382.595768l0-7.496741c0-5.230118-0.070608-11.419074-0.137123-18.436908-0.137123-11.211343-0.207731-15.819291-0.275269-21.115923-0.276293-15.823384-1.306762-31.780821-3.990894-46.089711-2.958378-15.544021-6.878664-29.714765-14.100136-43.88551-7.29208-14.375405-17.267269-26.759457-28.066219-37.832653-11.07729-10.797927-23.524786-20.774139-37.832653-28.065196-14.170744-7.154957-28.27395-11.144828-43.88551-14.100136-14.308891-2.683109-30.269397-3.714602-46.088688-3.990894-5.296633-0.070608-9.904581-0.137123-21.115923-0.275269-10.731412-0.070608-19.467377-0.137123-25.932626-0.137123L382.835222 161.169703c-6.465249 0-15.201214 0.067538-25.862018 0.137123C345.758792 161.443949 341.150844 161.511487 335.854211 161.582095L335.854211 161.582095zM335.854211 161.582095"
              />
            </svg>
          </template>
        </IconButton>
        <IconButton color="#626F7C" color-hover="#FF494A" size="small">
          <template #icon>
            <svg
              class="svg-icon"
              style="
                width: 1em;
                height: 1em;
                vertical-align: middle;
                fill: currentColor;
                overflow: hidden;
              "
              viewBox="0 0 1024 1024"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M735.256248 420.448888c0 61.245899-16.576537 111.672382-49.860595 151.323451-33.261545 39.74112-76.142168 59.565631-128.836297 59.565631-17.383926 0-33.762965-3.729951-49.184189-11.100826-15.397688-7.458879-26.194592-16.381086-32.475646-26.675546-12.453636 47.090505-20.306488 75.271334-23.445992 84.298941-4.034896 14.525831-11.102872 30.231535-21.397333 47.199998-10.314926 16.968463-18.167778 29.052686-23.75196 36.31509-5.604648 7.263427-10.402931 12.933567-14.416338 17.077957-1.287319 1.656733-2.858094 2.246157-4.711302 1.853208-1.76725-0.50142-2.858094-1.461281-3.359514-3.139503-5.779633-52.500725-5.278213-91.562369 1.394766-117.278053l42.183751-167.506015c-6.760984-13.262048-10.099009-29.532617-10.099009-48.967248 0-22.791076 6.173606-41.723264 18.453281-56.81703 12.258185-15.027252 27.285436-22.595624 45.125757-22.595624 14.33038 0 25.322735 4.339842 33.175587 12.977569 7.850805 8.724709 11.69025 19.718087 11.69025 32.869618 0 8.331759-1.679245 18.342764-5.016247 30.121018s-7.65433 25.51921-13.043061 41.222867c-5.300726 15.812127-9.138124 28.353768-11.384281 37.884842-4.034896 16.096607-0.677429 30.122041 10.096962 41.897226 10.708899 11.778254 24.930809 17.668405 42.792619 17.668405 30.818913 0 56.032154-15.901155 75.662237-47.787376 19.631106-31.800263 29.443589-70.471005 29.443589-116.012224 0-34.745339-12.170181-63.099107-36.511565-84.975347s-58.104349-32.869618-101.376898-32.869618c-49.053206 0-88.704275 14.307867-118.847805 43.077098-30.122041 28.746718-45.127803 63.405075-45.127803 103.930047 0 24.035416 7.351432 44.2539 22.072715 60.830437 4.9088 5.408173 6.477528 10.904351 4.711302 16.685008-0.479931 1.679245-1.176802 4.231371-2.048659 7.458879-0.895393 3.338025-1.76725 6.871501-2.662643 10.600429-0.871857 3.729951-1.568728 5.976108-2.050706 6.760984-2.158153 8.354272-7.764847 10.992355-16.685008 8.070816-22.376637-8.637728-39.149649-23.556509-50.535977-44.669362-11.384281-21.091364-17.077957-45.431725-17.077957-73.197092 0-22.290679 5.104251-44.668339 15.399735-66.937528 10.207479-22.37766 24.733311-42.989093 43.469024-61.724807 18.757203-18.844184 43.688012-34.155914 74.680886-45.933145 31.015388-11.778254 65.453734-17.667382 103.44807-17.667382 61.528332 0 111.978351 17.469883 151.21498 52.411697C715.625142 331.635119 735.256248 372.856963 735.256248 420.448888zM958.70846 243.999177l0 536.02416c0 98.717326-80.090083 178.696892-178.696892 178.696892L243.987409 958.720228c-98.717326 0-178.696892-79.979566-178.696892-178.696892L65.290517 243.999177c0-98.629321 79.979566-178.718381 178.696892-178.718381l536.02416 0C878.618377 65.279772 958.70846 145.369855 958.70846 243.999177zM869.305267 288.646026c0-74.003458-59.957557-133.940548-133.941572-133.940548L288.633235 154.705478c-73.981968 0-134.049019 59.936067-134.049019 133.940548l0 446.709995c0 74.003458 60.067051 133.961014 134.049019 133.961014l446.731484 0c73.984015 0 133.941572-59.957557 133.941572-133.961014L869.30629 288.646026z"
              />
            </svg>
          </template>
        </IconButton>
        <IconButton color="#626F7C" color-hover="#FF494A" size="small">
          <template #icon>
            <svg
              class="svg-icon"
              style="
                width: 1em;
                height: 1em;
                vertical-align: middle;
                fill: currentColor;
                overflow: hidden;
              "
              viewBox="0 0 1024 1024"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M512 306.9c-113.5 0-205.1 91.6-205.1 205.1S398.5 717.1 512 717.1 717.1 625.5 717.1 512 625.5 306.9 512 306.9z m0 338.4c-73.4 0-133.3-59.9-133.3-133.3S438.6 378.7 512 378.7 645.3 438.6 645.3 512 585.4 645.3 512 645.3zM725.5 250.7c-26.5 0-47.9 21.4-47.9 47.9s21.4 47.9 47.9 47.9 47.9-21.3 47.9-47.9c-0.1-26.6-21.4-47.9-47.9-47.9z"
              />
              <path
                d="M911.8 512c0-55.2 0.5-109.9-2.6-165-3.1-64-17.7-120.8-64.5-167.6-46.9-46.9-103.6-61.4-167.6-64.5-55.2-3.1-109.9-2.6-165-2.6-55.2 0-109.9-0.5-165 2.6-64 3.1-120.8 17.7-167.6 64.5C132.6 226.3 118.1 283 115 347c-3.1 55.2-2.6 109.9-2.6 165s-0.5 109.9 2.6 165c3.1 64 17.7 120.8 64.5 167.6 46.9 46.9 103.6 61.4 167.6 64.5 55.2 3.1 109.9 2.6 165 2.6 55.2 0 109.9 0.5 165-2.6 64-3.1 120.8-17.7 167.6-64.5 46.9-46.9 61.4-103.6 64.5-167.6 3.2-55.1 2.6-109.8 2.6-165z m-88 235.8c-7.3 18.2-16.1 31.8-30.2 45.8-14.1 14.1-27.6 22.9-45.8 30.2C695.2 844.7 570.3 840 512 840c-58.3 0-183.3 4.7-235.9-16.1-18.2-7.3-31.8-16.1-45.8-30.2-14.1-14.1-22.9-27.6-30.2-45.8C179.3 695.2 184 570.3 184 512c0-58.3-4.7-183.3 16.1-235.9 7.3-18.2 16.1-31.8 30.2-45.8s27.6-22.9 45.8-30.2C328.7 179.3 453.7 184 512 184s183.3-4.7 235.9 16.1c18.2 7.3 31.8 16.1 45.8 30.2 14.1 14.1 22.9 27.6 30.2 45.8C844.7 328.7 840 453.7 840 512c0 58.3 4.7 183.2-16.2 235.8z"
              />
            </svg>
          </template>
        </IconButton>
      </ul>
    </div>
  </div>
</template>

<script lang="ts">
import Typography from '@/ui/Typography/Typography.vue'
import IconButton from '@/ui/Buttons/IconButton.vue'
export default {
  components: {
    Typography,
    IconButton
  }
}
</script>

<style lang="scss" scoped>
.planner-topbar-contact__site li {
  padding: 0px 5px;
}
.planner-topbar-contact__site li:nth-child(even) :after {
  content: '/';
  padding-left: 10px;
}
.planner-topbar-contact__site li:nth-child(even) :before {
  content: '/';
  padding-right: 10px;
}
</style>
