$primary:#4476A8;
$secondary:#FF494A;
$textcolor:#1d2f41;

$background-primary:$primary;
$background-secondary:$secondary;

$--gradient-1: linear-gradient(to right, rgba(29, 47, 65, 1) 0%, rgba(255, 73, 74, 0.5) 50%, rgba(29, 47, 65, 0) 100%);

@mixin invert-background-color ($var){
    @if $var == 'primary'{
        background-color: $secondary;
    }
    @else{
        background-color: $primary;
    }
}