<template>
  <div class="planner-carousel relative w-full h-full">
    <div class="planner-carousel--content__img-text absolute text-white space-y-4">
      <h2 class="planner-carousel--content__img-text-1 px-5">Solutions for all type of Visa</h2>
      <p class="planner-carousel--content__img-text-2 px-5">
        Best Visa <span class="text-[#FF494A] font-extrabold">&</span> Immigrations Services
      </p>
      <ButtonSlide :primary="false" label="Explore now" class="px-5" size="medium" />
    </div>
    <div class="planner-carousel--content w-full relative overflow-hidden h-full">
      <div class="planner-carousel--slider w-full h-full flex" :class="classes" :style="slideStyle">
        <div
          class="p-2 planner-carousel--content__img"
          :class="[
            index === currentPosition
              ? 'planner-carousel--content__active'
              : 'planner-carousel--content__hidden'
          ]"
          v-for="(image, index) in pictures"
          :key="index"
          :style="slideContentStyle"
        >
          <!-- {{ index }} -->
        </div>
      </div>
    </div>

    <div
      class="planner-caroussel--controls absolute w-full flex flex-row items-center justify-between"
    >
      <button
        class="planner-carousel--controls__left-nav cursor-pointer text-5xl border border-white w-fit rounded-full bg-black bg-opacity-30 text-white hover:bg-opacity-70"
        @click="getPreviousPicture()"
      >
        <span>
          <svg
            class="svg-icon"
            style="
              width: 1em;
              height: 1em;
              vertical-align: middle;
              fill: currentColor;
              overflow: hidden;
            "
            viewBox="0 0 1024 1024"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M640 368L592 320l-194.24 194.24 194.24 194.24 48-48-146.24-146.24L640 368z" />
          </svg>
        </span>
      </button>
      <button
        class="planner-carousel--controls__right-nav cursor-pointer text-5xl border border-white w-fit rounded-full bg-black bg-opacity-30 text-white hover:bg-opacity-70"
        @click="getNextPicture()"
      >
        <span>
          <svg
            class="svg-icon"
            style="
              width: 1em;
              height: 1em;
              vertical-align: middle;
              fill: currentColor;
              overflow: hidden;
            "
            viewBox="0 0 1024 1024"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M640 514.24L445.76 320l-48 48L544 514.24l-146.24 146.24 48 48L640 514.24z" />
          </svg>
        </span>
      </button>
    </div>
  </div>
</template>

<script lang="ts">
import ButtonSlide from '../../ui/Buttons/ButtonSlide.vue'
export default {
  props: ['images'],
  components: {
    ButtonSlide
  },
  data() {
    return {
      currentPosition: 0,
      pictures: [],
      direction: 1
    }
  },
  computed: {
    slideStyle() {
      if (this.currentPosition === 0 && this.direction === 1) {
        return {
          color: 'red',
          transform: `translateX(0%)`
        }
      } else if (this.currentPosition === 3 && this.direction === -1) {
        return {
          color: 'red',
          transform: `translateX(-300%)`
        }
      } else {
        return {
          color: 'red',
          transform: `translateX(-${this.currentPosition * 100}%)`,
          transition: 'transform 1s ease-out'
        }
      }
    },
    slideContentStyle() {
      return {
        'background-image': `url(${this.pictures[this.currentPosition]})`,
        'background-size': 'cover',
        'background-repeat': 'no-repeat',
        'background-position': 'center'
      }
    },
    classes() {
      return {
        'planner-carousel--content__init': this.currentPosition === this.pictures.length - 1
      }
    }
  },
  methods: {
    getNextPicture() {
      this.direction = 1
      if (this.currentPosition === this.pictures.length - 1) this.currentPosition = 0
      else this.currentPosition++
    },
    getPreviousPicture() {
      this.direction = -1
      if (this.currentPosition === 0) this.currentPosition = 3
      else this.currentPosition--
    }
  },
  mounted() {
    this.pictures = [...this.images, this.images[0]]
  }
}
</script>

<style lang="scss" scoped>
@import '../../infra/styles/colors.scss';
.planner-carousel--content__img {
  width: 100%;
  height: 100%;
  flex: 100%;
  flex-shrink: 0;
}
.planner-caroussel--controls {
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
}
.planner-carousel:before {
  position: absolute;
  content: 's';
  width: 50%;
  height: 100%;
  z-index: 9;
  background: linear-gradient(
    to right,
    rgba(29, 47, 65, 1) 0%,
    rgba(255, 73, 74, 0.5) 50%,
    rgba(29, 47, 65, 0) 100%
  );
  box-sizing: border-box;
}
.planner-carousel--content__img-text {
  position: absolute;
  z-index: 99;
  // border: 1px solid red;
  width: 50%;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 40px;
  padding-right: 40px;
}
.planner-carousel--content__img-text-1 {
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 400;
  //text-align: center;
  width: 100%;
  font-family: 'Roboto';
  letter-spacing: 2px;
  word-spacing: -1px;
}
.planner-carousel--content__img-text-2 {
  // text-transform: uppercase;
  font-size: 5em;
  font-weight: 700;
  //text-align: center;
  width: 100%;
  font-family: 'Roboto';
  letter-spacing: 2px;
  word-spacing: -1px;
  line-height: 1.2em;
}
</style>
