<script setup lang="ts">
import { RouterLink, RouterView } from 'vue-router'
import MainBar from './components/navbar/MainBar.vue'
</script>

<template>
  <header>
    <MainBar />
  </header>

  <RouterView />
</template>

<style scoped></style>
